--
-- PostgreSQL database dump
--

\restrict RLhOdlRmEwbnK71NKjvBrBIOgR8Y7cfbkvpfYtuMkmww2SeocE6FwGVHW5rfC83

-- Dumped from database version 17.6 (Debian 17.6-1.pgdg13+1)
-- Dumped by pg_dump version 17.6 (Debian 17.6-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO sportsnet;

--
-- Name: account; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.account (
    "Id" integer NOT NULL,
    "Fullname" text NOT NULL,
    "User_name" text NOT NULL,
    "Password" text NOT NULL,
    "Role" text NOT NULL,
    "Email" text NOT NULL,
    "Story" text NOT NULL,
    "Avatar" text
);


ALTER TABLE public.account OWNER TO sportsnet;

--
-- Name: account_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."account_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."account_Id_seq" OWNER TO sportsnet;

--
-- Name: account_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."account_Id_seq" OWNED BY public.account."Id";


--
-- Name: bill; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.bill (
    "Id" integer NOT NULL,
    "Schedule_id" integer NOT NULL,
    "Total_hours" integer NOT NULL,
    "Discount" integer NOT NULL,
    "Total_bill" integer NOT NULL,
    "Deposit" integer NOT NULL,
    "Status" boolean NOT NULL
);


ALTER TABLE public.bill OWNER TO sportsnet;

--
-- Name: bill_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."bill_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."bill_Id_seq" OWNER TO sportsnet;

--
-- Name: bill_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."bill_Id_seq" OWNED BY public.bill."Id";


--
-- Name: comment; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.comment (
    "Id" integer NOT NULL,
    "Id_account" integer NOT NULL,
    "Post_id" integer NOT NULL,
    "CreateAt" timestamp(3) without time zone NOT NULL,
    "Parent_id" integer,
    "Like_count" integer NOT NULL,
    "Content" text NOT NULL
);


ALTER TABLE public.comment OWNER TO sportsnet;

--
-- Name: comment_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."comment_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."comment_Id_seq" OWNER TO sportsnet;

--
-- Name: comment_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."comment_Id_seq" OWNED BY public.comment."Id";


--
-- Name: detail_schedule; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.detail_schedule (
    "Id" integer NOT NULL,
    "Id_schedule" integer NOT NULL,
    "Id_sport_field" integer NOT NULL,
    "Time_start" timestamp(3) without time zone NOT NULL,
    "Time_end" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.detail_schedule OWNER TO sportsnet;

--
-- Name: detail_schedule_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."detail_schedule_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."detail_schedule_Id_seq" OWNER TO sportsnet;

--
-- Name: detail_schedule_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."detail_schedule_Id_seq" OWNED BY public.detail_schedule."Id";


--
-- Name: follow; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.follow (
    "Id" integer NOT NULL,
    "Follower_id" integer NOT NULL,
    "Following_id" integer NOT NULL,
    "CreatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.follow OWNER TO sportsnet;

--
-- Name: follow_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."follow_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."follow_Id_seq" OWNER TO sportsnet;

--
-- Name: follow_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."follow_Id_seq" OWNED BY public.follow."Id";


--
-- Name: messages; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.messages (
    "Id" integer NOT NULL,
    "Sender_id" integer NOT NULL,
    "Receiver_id" integer NOT NULL,
    "Content" text NOT NULL,
    "Status" boolean NOT NULL,
    "CreateAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.messages OWNER TO sportsnet;

--
-- Name: messages_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."messages_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."messages_Id_seq" OWNER TO sportsnet;

--
-- Name: messages_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."messages_Id_seq" OWNED BY public.messages."Id";


--
-- Name: notification; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.notification (
    "Id" integer NOT NULL,
    "User_id" integer NOT NULL,
    "Title" text NOT NULL,
    "Is_read" boolean NOT NULL,
    "CreateAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.notification OWNER TO sportsnet;

--
-- Name: notification_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."notification_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."notification_Id_seq" OWNER TO sportsnet;

--
-- Name: notification_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."notification_Id_seq" OWNED BY public.notification."Id";


--
-- Name: post; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.post (
    "Id" integer NOT NULL,
    "User_id" integer NOT NULL,
    "Type" text NOT NULL,
    "Time" timestamp(3) without time zone NOT NULL,
    "Title" text NOT NULL,
    "Image" text,
    "Video" text,
    "Mode" text NOT NULL,
    "Content" text NOT NULL,
    "Heart_count" integer NOT NULL,
    "Address" text,
    "Sports" text,
    "Topic" text
);


ALTER TABLE public.post OWNER TO sportsnet;

--
-- Name: post_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."post_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."post_Id_seq" OWNER TO sportsnet;

--
-- Name: post_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."post_Id_seq" OWNED BY public.post."Id";


--
-- Name: schedule; Type: TABLE; Schema: public; Owner: sportsnet
--

CREATE TABLE public.schedule (
    "Id" integer NOT NULL,
    "User_id" integer NOT NULL,
    "Sports_field" integer NOT NULL,
    "Status" boolean NOT NULL,
    "Total_hours" integer NOT NULL
);


ALTER TABLE public.schedule OWNER TO sportsnet;

--
-- Name: schedule_Id_seq; Type: SEQUENCE; Schema: public; Owner: sportsnet
--

CREATE SEQUENCE public."schedule_Id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."schedule_Id_seq" OWNER TO sportsnet;

--
-- Name: schedule_Id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sportsnet
--

ALTER SEQUENCE public."schedule_Id_seq" OWNED BY public.schedule."Id";


--
-- Name: account Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.account ALTER COLUMN "Id" SET DEFAULT nextval('public."account_Id_seq"'::regclass);


--
-- Name: bill Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.bill ALTER COLUMN "Id" SET DEFAULT nextval('public."bill_Id_seq"'::regclass);


--
-- Name: comment Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.comment ALTER COLUMN "Id" SET DEFAULT nextval('public."comment_Id_seq"'::regclass);


--
-- Name: detail_schedule Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.detail_schedule ALTER COLUMN "Id" SET DEFAULT nextval('public."detail_schedule_Id_seq"'::regclass);


--
-- Name: follow Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.follow ALTER COLUMN "Id" SET DEFAULT nextval('public."follow_Id_seq"'::regclass);


--
-- Name: messages Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.messages ALTER COLUMN "Id" SET DEFAULT nextval('public."messages_Id_seq"'::regclass);


--
-- Name: notification Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.notification ALTER COLUMN "Id" SET DEFAULT nextval('public."notification_Id_seq"'::regclass);


--
-- Name: post Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.post ALTER COLUMN "Id" SET DEFAULT nextval('public."post_Id_seq"'::regclass);


--
-- Name: schedule Id; Type: DEFAULT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.schedule ALTER COLUMN "Id" SET DEFAULT nextval('public."schedule_Id_seq"'::regclass);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public._prisma_migrations (id, checksum, finished_at, migration_name, logs, rolled_back_at, started_at, applied_steps_count) FROM stdin;
80244a19-8568-4016-be8a-b39d296ef08f	e0ca20d62e0f11b03291195643cfc94af4c208dbfa92ffc490bcad2bcb38c45f	2025-08-24 04:37:40.197937+00	20250824043740_init	\N	\N	2025-08-24 04:37:40.183652+00	1
\.


--
-- Data for Name: account; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.account ("Id", "Fullname", "User_name", "Password", "Role", "Email", "Story", "Avatar") FROM stdin;
1	user01	user01	$2b$10$GO8qbUyehCT31wLBt/8gSe8F/RYnvPpLy4knJELOPlP2nMhQMlHXK	123	user@123		\N
2	user02	user02	$2b$10$IE6hdArgtFYOgZO.A1QUoOHTDU5TOd9eiCwMlJqT77m3eHJzMJJS2	123	123		\N
\.


--
-- Data for Name: bill; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.bill ("Id", "Schedule_id", "Total_hours", "Discount", "Total_bill", "Deposit", "Status") FROM stdin;
\.


--
-- Data for Name: comment; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.comment ("Id", "Id_account", "Post_id", "CreateAt", "Parent_id", "Like_count", "Content") FROM stdin;
\.


--
-- Data for Name: detail_schedule; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.detail_schedule ("Id", "Id_schedule", "Id_sport_field", "Time_start", "Time_end") FROM stdin;
\.


--
-- Data for Name: follow; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.follow ("Id", "Follower_id", "Following_id", "CreatedAt") FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.messages ("Id", "Sender_id", "Receiver_id", "Content", "Status", "CreateAt") FROM stdin;
\.


--
-- Data for Name: notification; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.notification ("Id", "User_id", "Title", "Is_read", "CreateAt") FROM stdin;
\.


--
-- Data for Name: post; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.post ("Id", "User_id", "Type", "Time", "Title", "Image", "Video", "Mode", "Content", "Heart_count", "Address", "Sports", "Topic") FROM stdin;
\.


--
-- Data for Name: schedule; Type: TABLE DATA; Schema: public; Owner: sportsnet
--

COPY public.schedule ("Id", "User_id", "Sports_field", "Status", "Total_hours") FROM stdin;
\.


--
-- Name: account_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."account_Id_seq"', 2, true);


--
-- Name: bill_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."bill_Id_seq"', 1, false);


--
-- Name: comment_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."comment_Id_seq"', 1, false);


--
-- Name: detail_schedule_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."detail_schedule_Id_seq"', 1, false);


--
-- Name: follow_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."follow_Id_seq"', 1, false);


--
-- Name: messages_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."messages_Id_seq"', 1, false);


--
-- Name: notification_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."notification_Id_seq"', 1, false);


--
-- Name: post_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."post_Id_seq"', 1, false);


--
-- Name: schedule_Id_seq; Type: SEQUENCE SET; Schema: public; Owner: sportsnet
--

SELECT pg_catalog.setval('public."schedule_Id_seq"', 1, false);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: account account_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.account
    ADD CONSTRAINT account_pkey PRIMARY KEY ("Id");


--
-- Name: bill bill_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.bill
    ADD CONSTRAINT bill_pkey PRIMARY KEY ("Id");


--
-- Name: comment comment_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT comment_pkey PRIMARY KEY ("Id");


--
-- Name: detail_schedule detail_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.detail_schedule
    ADD CONSTRAINT detail_schedule_pkey PRIMARY KEY ("Id");


--
-- Name: follow follow_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.follow
    ADD CONSTRAINT follow_pkey PRIMARY KEY ("Id");


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY ("Id");


--
-- Name: notification notification_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT notification_pkey PRIMARY KEY ("Id");


--
-- Name: post post_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.post
    ADD CONSTRAINT post_pkey PRIMARY KEY ("Id");


--
-- Name: schedule schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT schedule_pkey PRIMARY KEY ("Id");


--
-- Name: account_User_name_key; Type: INDEX; Schema: public; Owner: sportsnet
--

CREATE UNIQUE INDEX "account_User_name_key" ON public.account USING btree ("User_name");


--
-- Name: bill bill_Schedule_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.bill
    ADD CONSTRAINT "bill_Schedule_id_fkey" FOREIGN KEY ("Schedule_id") REFERENCES public.schedule("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: comment comment_Id_account_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT "comment_Id_account_fkey" FOREIGN KEY ("Id_account") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: comment comment_Post_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.comment
    ADD CONSTRAINT "comment_Post_id_fkey" FOREIGN KEY ("Post_id") REFERENCES public.post("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: detail_schedule detail_schedule_Id_schedule_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.detail_schedule
    ADD CONSTRAINT "detail_schedule_Id_schedule_fkey" FOREIGN KEY ("Id_schedule") REFERENCES public.schedule("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: follow follow_Follower_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.follow
    ADD CONSTRAINT "follow_Follower_id_fkey" FOREIGN KEY ("Follower_id") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: follow follow_Following_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.follow
    ADD CONSTRAINT "follow_Following_id_fkey" FOREIGN KEY ("Following_id") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: messages messages_Receiver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_Receiver_id_fkey" FOREIGN KEY ("Receiver_id") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: messages messages_Sender_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "messages_Sender_id_fkey" FOREIGN KEY ("Sender_id") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: notification notification_User_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.notification
    ADD CONSTRAINT "notification_User_id_fkey" FOREIGN KEY ("User_id") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: post post_User_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.post
    ADD CONSTRAINT "post_User_id_fkey" FOREIGN KEY ("User_id") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: schedule schedule_User_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sportsnet
--

ALTER TABLE ONLY public.schedule
    ADD CONSTRAINT "schedule_User_id_fkey" FOREIGN KEY ("User_id") REFERENCES public.account("Id") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- PostgreSQL database dump complete
--

\unrestrict RLhOdlRmEwbnK71NKjvBrBIOgR8Y7cfbkvpfYtuMkmww2SeocE6FwGVHW5rfC83

